body html{
  margin:0;
  padding:0;
}

body{
  font-family: 'Courier New', Courier, monospace !important;
  align-items: center;
  align-content: center;
}

.backgroundimg{
  background-image:url(file:///Users/rebeccazammit/Documents/GitHub/SirensTale/docs/Website%20Artwork/Featured%20Image%20Update.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}


.nightbackground{
    background-color: #3a1f04;
    
}

